/* Style sheet for the unibib project */

body {
color: #000000;
background: #E8E0D0; 
margin: 1em;
}

div#title { 
background: white;
padding: 1em;
font-size: xx-large;
border: 1px solid #cccccc;
text-align: center;
}


div.tab * {
background: #EFE8E0;
font-size: small;
font-weight: bold;
color: #6c4139;
border: 1px solid #cccccc;
text-decoration: none;
padding: 2px 2px 0px 2px;
margin-right: 3px;
}
div.tab a:hover {
text-decoration: none;
background: #ffffff;
}
div.tab *.selected {
background: #ffffff;
border-bottom: 1px solid #ffffff;
}

div.box {
background: #ffffff; 
color: #000000; 
padding: 1em; 
border: 1px solid #cccccc;
margin: 0 0 1em 0;
}

/** Misc elements */

h1 { text-align: center; margin: 0 0 5px 0; padding: 0; }

dt { background: #f8f8e8; border-top: 1px solid #dddddd; border-bottom: 1px solid #dddddd; }
dd { margin-bottom: 0.5em; }

a { font-weight: bold; color: #bB6E4F; background:inherit; text-decoration:none; }
a:hover { text-decoration:underline; }

*[title] { cursor:help;border-bottom: 1px dashed #888888; }

div.error:before { content: url(img/error.png) " ";}
div.error { color: red; font-weight:bold; }

div.warning:before { content: url(img/warning.png) " ";}
div.warning { color: #880000; font-weight:bold; }

div.info:before { content: url(img/info.png) " ";}
div.info { color: #000088; font-weight: bold; }

div.status { background: #FFF4E0; color: #888888; font-size: small; padding: 2px; margin: 0.2cm 0 0.2cm 0; border: 1px solid #dddddd; }

/* Forms */

div.group { border: 1px solid #cccccc; padding: 0.2em; margin-top: 0.8em; }
div.group div.title { position:relative; top: -0.8em; }
div.group div.title span { background: #ffffff;} 

div.list_0 { padding: 1px; background: #eeeeee; border-bottom: 1px solid #cccccc;}
div.list_1 { padding: 1px; background: #ffffff; border-bottom: 1px solid #dddddd; }

input { background: #eeeeee; padding: 0.2em; border: 1px solid #888888; }

